<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430782838073-9bl06s3843m0s3usbk3bliftj44q2i8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430782838073-9bl06s3843m0s3usbk3bliftj44q2i8q</string>
	<key>API_KEY</key>
	<string>AIzaSyDPxWjUoajEWl8i7phGpDWLyac7feXUwac</string>
	<key>GCM_SENDER_ID</key>
	<string>430782838073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LongTran.Music-Blender</string>
	<key>PROJECT_ID</key>
	<string>musicdatabase-fcc00</string>
	<key>STORAGE_BUCKET</key>
	<string>musicdatabase-fcc00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430782838073:ios:5e26d355540f73f0dbe4e8</string>
</dict>
</plist>